.button-signout{
  background-color: rgb(224, 87, 37);
  margin-top: auto;
  color: white;
  border: 1px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  
}

.button-signout:hover{
  background-color: rgb(193, 34, 10);;
}

/* Apply Bootstrap's btn-primary styling to Authenticator's submit button */
.amplify-button--primary {
  background-color: #0d6efd !important;
  color: #fff !important;
  border: none !important;
}

.amplify-button--primary:hover{
  background-color: #11499c !important;
}

.amplify-button--link {
  color: #0d6efd;
}

.amplify-button--link:hover {
  background-color: #eef3f4;
  color: #0d6efd;
}

[data-amplify-authenticator] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px !important;
}

[data-amplify-authenticator] [data-amplify-container] {
  max-width: 50%;  /* Set desired width */
}


.amplify-tabs__item--active {
  border-bottom-color: #0d6efd;
  border-block-start-color: #0d6efd;
  color: #0d6efd;
}

body {
  background-color: #f8f9fade !important; /* Soft background for better contrast */
}

h2, h4, h1 {
  color: #343a40 !important; /* Darker color for headings */
}

/* Styling for the custom content outside the sign-in box */
.custom-signin-header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.custom-signin-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.custom-signin-header p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}
